nav {
    height: 60px;
}

nav>button {
    height: 35px;
    width: 80px;
    background-color: white;
    border: none;
    padding-top: 20px;
}

img {
    width: 70px;
    height: 30px;
}

nav>h3 {
    display: inline;
    border: 1px solid black;
    margin-left: 440px;
    position: fixed;
    background-color: black;
    color: whitesmoke;
    width: 300px;
    text-align: center;
    height: 30px;

}

.container1 {
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container1>div {
    height: 130px;
    width: 250px;

}

.item1 {
    background-color: #fad390;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item2 {
    background-color: #f8c291;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item3 {
    background-color: #6a89cc;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item4 {
    background-color: #82ccdd;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item5 {
    background-color: #b8e994;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item6 {
    background-color: #f6b93b;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item7 {
    background-color:#e55039;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item8 {
    background-color: #4a69bd;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item9 {
    background-color: #60a3bc;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item10 {
    background-color: #78e08f;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item11 {
    background-color: #fa983a;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.item12 {
    background-color: #eb2f06;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.item13 {
    background-color: #1e3799;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item14 {
    background-color:#3c6382;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item15 {
    background-color: #38ada9;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item16 {
    background-color: #e58e26;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item17 {
    background-color: #b71540;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item18 {
    background-color: #0c2461;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item19 {
    background-color: #0a3d62;

    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.item20 {
    background-color:#079992;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 30px;
    font-weight: bold;

}